<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Komfortkasse - Zahlung per Banküberweisung</label>
    <label lang="en">Komfortkasse - pay by bank wire transfer</label>
    <version>1.5.6</version>
    <link>https://komfortkasse.eu/shopware</link>
    <author>Komfortkasse</author>
    <compatibility minVersion="5.2.17"/>
    
    <changelog version="1.3.0">
        <changes lang="de">Umgestellt auf 5.2-Plugin; API Endpoint 'document' hinzugefügt</changes>
        <changes lang="en">Migrated to 5.2 plugin; added API endpoint 'document'</changes>
    </changelog>
    <changelog version="1.3.1">
        <changes lang="de">Bugfix für sofortige Übertragung</changes>
        <changes lang="en">Bugfix for instant order transmission</changes>
    </changelog>
    <changelog version="1.3.2">
        <changes lang="de">Verbesserte PHP7 Kompatibilität</changes>
        <changes lang="en">Improved PHP7 compatibility</changes>
    </changelog>
    <changelog version="1.4.0">
        <changes lang="de">Unterstützung von Rückerstattungen aus Gutschriften</changes>
        <changes lang="en">Supports refunds from credit notes</changes>
    </changelog>
    <changelog version="1.5.0">
        <changes lang="de">Unterstützung von individuellen Status, Performance-Optimierung</changes>
        <changes lang="en">Supports individual status, performance optimiziation</changes>
    </changelog>
    <changelog version="1.5.1">
        <changes lang="de">Bessere Unterstützung von Bestellungen die nicht über das Frontend erzeugt werden (zB Shopgate)</changes>
        <changes lang="en">Improved support of orders that are not generated via the frontend (eg Shopgate)</changes>
    </changelog>
    <changelog version="1.5.2">
        <changes lang="de">Verbesserungen bei der Abfrage neuer Bestellungen</changes>
        <changes lang="en">Improvements for querying new orders</changes>
    </changelog>
    <changelog version="1.5.3">
        <changes lang="de">Verbesserungen bei der Verwendung von Shopware ERP und Subshops</changes>
        <changes lang="en">Improvements for using Shopware ERP and subshops</changes>
    </changelog>
    <changelog version="1.5.4">
        <changes lang="de">Bugfix für die Verwendung von Brickfox</changes>
        <changes lang="en">Bugfix for using Brickfox</changes>
    </changelog>
    <changelog version="1.5.5">
        <changes lang="de">Verbesserung bei der Anbindung von Test-Shops</changes>
        <changes lang="en">Improvements for connecting test shops</changes>
    </changelog>
    <changelog version="1.5.6">
        <changes lang="de">Dokumenten-Typ für Rückerstattungen</changes>
        <changes lang="en">Document type for refunds</changes>
    </changelog>
    
    
</plugin>
